*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.body{
  padding: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.fortuneCard{
  border: 1px ;
  padding: 2rem 1.5rem;
  text-align: center;
  display: flex;
  gap: 1.5rem;
  max-width: 500px;
  margin: 0 auto;

}

.fortuneCard blockquote {
  margin-bottom: 20px; /* Ajusta el valor según el espaciado deseado */
  font-size: 30px;
  line-height: 1.5;
  font-style: normal;

}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  font-size: 25px;
  font-style: italic;

}

.App button {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.App button:hover {
  background-color: #0056b3;
}